<?xml version="1.0"?>
<launch>
  <arg name="session_config" default="$(find periodic_sync)/config/session.yaml"/>
  <arg name="session_id" default="ground_session"/>
  <arg name="participant_count" default="3"/>
  <arg name="frequency_hz" default="20.0"/>
  <arg name="payload_bytes_p95" default="600"/>
  <arg name="max_realtime_bps" default="2000000.0"/>
  <arg name="safety_factor" default="1.35"/>

  <node pkg="periodic_sync"
        type="swarm_ground_station_node"
        name="swarm_ground_station_node"
        output="screen">
    <param name="session_config" value="$(arg session_config)"/>
    <param name="session_id" value="$(arg session_id)"/>
    <param name="participant_count" value="$(arg participant_count)"/>
    <param name="frequency_hz" value="$(arg frequency_hz)"/>
    <param name="payload_bytes_p95" value="$(arg payload_bytes_p95)"/>
    <param name="max_realtime_bps" value="$(arg max_realtime_bps)"/>
    <param name="safety_factor" value="$(arg safety_factor)"/>
  </node>
</launch>
