<?xml version="1.0"?>
<launch>
  <arg name="session_config" default="$(find periodic_sync)/config/session.yaml"/>
  <arg name="channels_config" default="$(find periodic_sync)/config/channels.yaml"/>
  <arg name="ros1_adapters_config" default="$(find periodic_sync)/config/ros1_adapters.yaml"/>
  <arg name="weaknet_policy" default="$(find periodic_sync)/config/weaknet_policy.yaml"/>
  <arg name="weaknet_enabled" default="true"/>
  <arg name="weaknet_budget_max_realtime_bps" default="2000000.0"/>
  <arg name="weaknet_budget_safety_factor" default="1.35"/>
  <arg name="weaknet_payload_bytes_p95" default="600"/>
  <arg name="clock_provider" default="chrony"/>
  <arg name="clock_phase" default="preflight"/>
  <arg name="ground_time_source" default="192.168.10.10"/>
  <arg name="max_clock_offset_ms" default="2.0"/>
  <arg name="preflight_max_uncertainty_ms" default="2.0"/>
  <arg name="in_flight_allow_step" default="false"/>
  <arg name="external_sources_allowed_in_flight" default="false"/>

  <node pkg="periodic_sync"
        type="swarm_runtime_node"
        name="swarm_runtime_node"
        output="screen">
    <param name="session_config" value="$(arg session_config)"/>
    <param name="channels_config" value="$(arg channels_config)"/>
    <param name="ros1_adapters_config" value="$(arg ros1_adapters_config)"/>
    <param name="weaknet_policy" value="$(arg weaknet_policy)"/>
    <param name="weaknet_enabled" value="$(arg weaknet_enabled)"/>
    <param name="weaknet_budget_max_realtime_bps" value="$(arg weaknet_budget_max_realtime_bps)"/>
    <param name="weaknet_budget_safety_factor" value="$(arg weaknet_budget_safety_factor)"/>
    <param name="weaknet_payload_bytes_p95" value="$(arg weaknet_payload_bytes_p95)"/>
    <param name="clock_provider" value="$(arg clock_provider)"/>
    <param name="clock_phase" value="$(arg clock_phase)"/>
    <param name="ground_time_source" value="$(arg ground_time_source)"/>
    <param name="max_clock_offset_ms" value="$(arg max_clock_offset_ms)"/>
    <param name="preflight_max_uncertainty_ms" value="$(arg preflight_max_uncertainty_ms)"/>
    <param name="in_flight_allow_step" value="$(arg in_flight_allow_step)"/>
    <param name="external_sources_allowed_in_flight" value="$(arg external_sources_allowed_in_flight)"/>
    <rosparam command="load" file="$(arg ros1_adapters_config)"/>
  </node>
</launch>
